/* css documentation for index.html */
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Roboto Slab;
}
h2 {
  display: flex;
  background: #999;
  justify-content: center;
  border-radius: 15px;
}
.topnav {
  overflow: hidden;
  background: #546A7B;
;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}

.topnav a.active {
  background-color: #2196F3;
  color: #FFFFFF;
}

.search-bar {
  overflow: hidden;
  height: 30px;
  background-color: #e5e5e5;
  padding: 5px;
}

.search-bar form {
  margin: 20px;
}

.search-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-bar button {
  float: right;
  padding: 10px 10px;
  margin-top: 15px;
  margin-right: 16px;
  background: #546A7B;
  color: #E5E5E5;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background: #ccc;
}

.search-container {
  border: 2px black;
  padding: 10px;
  
}
form {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .search-bar input[type=text], .topnav .search-bar .search-bar button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

}
.result-formating {
  
}
  
.search-info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
li{
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin: 20px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

table {
  display: flex;
  justify-content: center;
}

 .try{ border: 1px solid rgb(37, 37, 37);
  color: ;}

  .instructions-format{
    display: flex;
    flex-direction: column;
    justify-content: space evenly;
    justify-content: center;
    height: 500px;
    width: 1000px;
    padding: 20px;
    background: rgb(21, 21, 21); 
    border-radius: 15px;
    opacity: .5
  }
  
  .text{
   opacity: 1;
   color: white;
   font-size: 20px;
  }
  
  .text2 {
    color: white;
  }
