<!DOCTYPE html>
<html>
<head>

  

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Instructions</title>
  <style></style>

</head>
<body>
  <div class = "hearder-container"> 
    <img id= pic src ="https://www.georgiatrust.org/wp-content/themes/ga-trust-nineteen/assets/images/logo_horiz_sm.png">
  </div>
<div class="topnav">
  <a href="/data" style="float:right">Data</a>
  <a class="active" href="/instructions" style="float: right">Instructions</a>
  <a href="/" style="float: right">Search</a>
</div>

<div class= "instructions-format">
  <h2>How to use this resource</h2>
  <p> About the tool: This tool is created for the Georgia Trust for Historic Preservation's West Atlanta Initiative. You can search for historic homes in the West Atlanta area by zip code, price range, or improvement.</ul>
  </p>

  <p class = "text"> 
    How to use this tool:
    <ul class="text2"> 1. Use the search field to sort houses by zip code, price range, or improvement max. If no price range or improvement max is entered, the program will use its default ranges.
    </ul>
    <ul class="text2"> 2. Search results should display in the table below the search fields. The table includes the property's street address, zip code, total appraisal value, improvement, build, and owner.
    </ul>
    <ul class="text2"> 3. To start a new search, simply re-enter the parameters in the search fields.
    </ul>
    
    <p> About the tool: This tool is created for the Georgia Trust for Historic Preservation's West Atlanta Initiative. You can search for historic homes in the West Atlanta area by zip code, price range, or improvement.
      </p>  

  <p class = "text"> 
    Understanding the table: 
    <ul class="text2"> 
    </ul>
    <ul class="text2"> Total Appraisal: the evaluated value of the property.
    </ul>
    <ul class="text2"> Improvement: 
    </ul>
    <ul class="text2"> 
    </ul>
  </p>

    </p>
    <p class = "text"> 
      How to update the data:
      <ul class="text2"> 1.
      </ul>
      <ul class="text2"> 2.
      </ul>
      <ul class="text2"> 3.
      </ul>
     

    </p>
</div>
  

</body>
</html>